__pycache__
*.pyc
*.pt
*.out

__pycache__/
.vscode/
*.ckpt
.tmp/
results/*.ipynb
results/*.ipynb*
src/datasets/synbols
usr_configs.py
tmp.png
.ipynb_checkpoints/
/Alz_temp/
/.idea/

venv/*
venv/
results/*
results
results_OLD
results_OLD/*
results_NEW
results_NEW/*
JCU_Fish.zip
JCU_Fish_old
JCU_Fish_old/*
DeepAgro
DeepAgro/*
DeepAgroV4
DeepAgroV4/*
DeepAgro_old
DeepAgro_old/*
DeepAgro_old_new
DeepAgro_old_new/*
res38_seg.pth
DICE_Masks/masks
DICE_Masks/masks/*
misc_scripts
misc_scripts/*
misc_scripts/exported_results
misc_scripts/exported_results/*
misc_scripts/images
misc_scripts/images/*
misc_scripts/print_results_old.ipynb
predicted_masks
predicted_masks/*
predicted_masks_old
predicted_masks_old/*
game_results.csv
game_results_normalized.csv
images_to_predict
images_to_predict/*
predicted_masks
predicted_masks/*
predicted_masks_cropped
predicted_masks_cropped/*
cropped_images
cropped_images/*


