__pycache__
*.pyc
*.pt
*.out

__pycache__/
.vscode/
*.ckpt
.tmp/
results/*.ipynb
results/*.ipynb*
src/datasets/synbols
usr_configs.py
tmp.png
.ipynb_checkpoints/
/Alz_temp/
/.idea/

venv/*
venv/
results/*
results
results_OLD
results_OLD/*
JCU_Fish.zip
JCU_Fish_old
JCU_Fish_old/*
DeepAgro
DeepAgro/*
res38_seg.pth
